{% extends "layout.twig" %}

{% block title %}Documentation G{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 pl-0">
                <nav class="navbar navbar-dark bg-dark">
                    <div>
                        <a class="navbar-brand" href="#">
                            <img src="{{ publicURL }}/images/ecomics-logo.png" class="mr-3 align-middle" width="30" height="30" alt="">
                            <span class="align-middle">Ecomics</span>
                        </a>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#user_section">User</a>
                                <ul>
                                    <li>
                                        <a class="nav-link" href="#user_role_section">User - Role</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#user_other_section">User - Other</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#role_section">Role</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#template_section">Template</a>
                                <ul>
                                    <li>
                                        <a class="nav-link" href="#template_tag_section">Template - Tag</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tag_section">Tag</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#page_section">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#frame_section">Frame</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#bd_section">Bd</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#picture_section">Picture</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-10">
                <div class="container-fluid">
                    <div class="row">
                        <h1 class="col-12 text-center">Ecomics API Documentation</h1>
                        <div class="col-12 warning alert alert-warning mt-4" role="alert">
                            The return of each call is a json which contains necessarily <strong>succeed</strong> (a boolean) to know the state of the request.
                            <ul>
                                <li>If a mandatory parameter is missing, the API returns a 404 error (Not found)</li>
                                <li>If <span class="font-weight-bold">succeed</span> is true, the result returned by the API will be in <span class="font-weight-bold">data</span>.</li>
                                <li>If <span class="font-weight-bold">succeed</span> is false <span class="font-weight-bold">data</span> doesn't exist and <span class="font-weight-bold">message</span> contains the error message</li>
                                <li>All request need <span class="font-weight-bold">token</span>, except authentication. Note : all routes return new token with a period validity</li>
                            </ul>
                        </div>
                        <h1 class="section col-12" id="user_section">User</h1>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Get user</span><span class="align-middle badge badge-pill badge-success float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">userId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>user</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Create user</span><span class="align-middle badge badge-pill badge-warning float-right">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">email - password</div>
                                            <div class="bg-info rounded p-1">firstName - lastName</div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>new user</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Update user</span><span class="align-middle badge badge-pill badge-primary float-right w-25">PUT</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">userId</div>
                                            <div class="bg-info rounded p-1">password - firstName - lastName</div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>user updated</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Delete user</span><span class="align-middle badge badge-pill badge-danger float-right w-25">DELETE</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">user</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>false</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="subsection col-12" id="user_role_section">User - Role : /user/role</h2>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Get user role</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">userId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>Roles</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Add user role</span><span class="align-middle badge badge-pill badge-warning
                                float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">userId - roleId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Remove user role</span><span class="align-middle badge badge-pill badge-danger
                                float-right w-25">DELETE</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">userId - roleId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="subsection col-12" id="user_other_section">Authentication : /user/authenticate</h2>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Check token</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">token</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>user</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Auth password</span><span class="align-middle badge badge-pill badge-warning
                                float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">email - password</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>user</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Auth Social network</span><span class="align-middle badge badge-pill badge-primary
                                float-right w-25">PUT</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">email - socialName - socialId</div>
                                            <div class="bg-info rounded p-1">firstName - lastName (only for new user)</div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>user</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 class="section col-12" id="role_section">Role /role</h1>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Get role</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">userId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>role</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Create role</span><span class="align-middle badge badge-pill badge-warning float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">label</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>new role</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Update role</span><span class="align-middle badge badge-pill badge-primary
                                float-right w-25">PUT</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">roleId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>role updated</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Delete role</span><span class="align-middle badge badge-pill badge-danger
                                float-right w-25">DELETE</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">roleId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>false|message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 class="section col-12" id="template_section">Template : /template</h1>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Get template</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">templateId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>template</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Create template</span><span class="align-middle badge badge-pill badge-warning
                                float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">title - description - userId - miniature</div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>template</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Update template</span><span class="align-middle badge badge-pill badge-primary
                                float-right w-25">PUT</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">templateId</div>
                                            <div class="bg-info rounded p-1">title - description - miniature</div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>updated template</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Delete template</span><span class="align-middle badge badge-pill badge-danger
                                float-right w-25">DELETE</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">templateId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>false|message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">/template/all</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1"></div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>templates</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="subsection col-12" id="template_tag_section">Template - Tag</h2>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Get template tag</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">templateId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>Tags</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Add template tag</span><span class="align-middle badge badge-pill badge-warning
                                float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">templateId - tagId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Remove template tag</span><span class="align-middle badge badge-pill badge-danger
                                float-right w-25">DELETE</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">templateId - tagId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 class="section col-12" id="tag_section">Tag : /tag</h1>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Get tag</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">tagId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>tag</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">/tag/all</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1"></div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>tag</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Create tag</span><span class="align-middle badge badge-pill badge-warning float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">label</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>new tag</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Update tag</span><span class="align-middle badge badge-pill badge-primary
                                float-right w-25">PUT</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">tagId</div>
                                            <div class="bg-info rounded p-1">label</div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>updated tag</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Delete tag</span><span class="align-middle badge badge-pill badge-danger
                                float-right w-25">DELETE</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">tagId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>false|message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 class="section col-12" id="page_section">Page : /page</h1>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Get page</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">pageId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>page</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Create page</span><span class="align-middle badge badge-pill badge-warning
                                float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">pageId - templateId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>tag</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Delete page</span><span class="align-middle badge badge-pill badge-danger
                                float-right w-25">DELETE</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">pageId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>false|message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">/page/generateWithFrame</span><span class="align-middle badge badge-pill badge-warning
                                float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">pageNumber - templateId - files</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>base64</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 class="section col-12" id="frame_section">Frame : /frame</h1>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Get frame</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">frameId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>frame</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Create frame</span><span class="align-middle badge badge-pill badge-warning float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">file - positionX - positionX - width - height - pageId</div>
                                            <div class="bg-info rounded p-1">indication</div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>new frame</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Update frame</span><span class="align-middle badge badge-pill badge-primary
                                float-right w-25">PUT</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">frameId</div>
                                            <div class="bg-info rounded p-1">file - positionX - positionX - width - height - indication</div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>updated frame</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Delete frame</span><span class="align-middle badge badge-pill badge-danger
                                float-right w-25">DELETE</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">frameId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>false|message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 class="section col-12" id="bd_section">Bd : /bd</h1>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Get Bd</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">bdId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>bd</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Create bd</span><span class="align-middle badge badge-pill badge-warning float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">userId - templateId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>new bd</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Delete bd</span><span class="align-middle badge badge-pill badge-danger
                                float-right w-25">DELETE</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">bdId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>false|message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">/bd/fill-page</span><span class="align-middle badge badge-pill badge-warning
                                float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">bdId - pageNumber - frames (files with frame id)</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>base64</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 class="section col-12" id="picture_section">Picture : /picture</h1>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Get Picture</span><span class="align-middle badge badge-pill badge-success
                                float-right w-25">GET</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">pictureId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>picture</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Create picture</span><span class="align-middle badge badge-pill badge-warning float-right w-25">POST</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">file - bdId - frameId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>new frame</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Update picture</span><span class="align-middle badge badge-pill badge-primary float-right w-25">PUT</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">pictureId</div>
                                            <div class="bg-info rounded p-1">file</div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>updated picture</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card text-white bg-dark">
                                <h5 class="card-header"><span class="align-middle mr-2">Delete frame</span><span class="align-middle badge badge-pill badge-danger
                                float-right w-25">DELETE</span></h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="parameters mb-4">
                                            <div class="bg-danger rounded p-1 mb-1">frameId</div>
                                            <div class="bg-info rounded p-1"></div>
                                        </div>

                                        <div>
                                            <div><span class="align-middle badge badge-pill badge-success mr-2 w-25">Success</span>true</div>
                                            <div><span class="align-middle badge badge-pill badge-warning mr-2 w-25">Error</span>false|message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
