<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Api Ecomics{% endblock %}</title>
    <link rel="icon" href="{{ publicURL }}/favicon.ico"/>
    <link rel="stylesheet" href="{{ publicURL }}/style/bootstrap.min.css">
    <link rel="stylesheet" href="{{ publicURL }}/style/general.css">
    <script src="{{ publicURL }}/script/jquery.slim.min.js"></script>
    <script src="{{ publicURL }}/script/bootstrap.min.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
