/*
 * Project : ecomics-nodejs
 * FileName : general.css
 * Copyright (c) created by greg at 13.06.19
 */

nav.navbar {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
}
.nav-item {
    font-size: 25px;
}

.nav-item ul li {
    list-style: none;
}

.nav-item ul {
    margin-top: -10px;
    padding-left: 20px;
}

.nav-item ul a {
    font-size: 18px;
    padding: 0;
}

h1.section {
    position: relative;
}
h1.section::after {
    content: " ";
    position: absolute;
    border: 1px solid #343a40;
    width: 100%;
    left: 0;
    bottom: 0;
}

h2.subsection::after {
    content: " ";
    position: absolute;
    border: 1px dotted #343a40;
    width: 100%;
    left: 0;
    bottom: 0;
}
